@import "variables";
@import "utils";
@import "icons";
@import "sidebar";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: "Roboto" !important;
    font-size: @font-size;
    background-color: #fefefe;
}

#layout {
    padding-left: @sidebar-width;
    position: relative;
}
#disconnected {
    opacity:0.5;
    background:#000;
    top:0;
    width:80%;
    height:100%;
    z-index:10;
    position:fixed;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;

    .loading {
        display:block;
        color: @sidebar-text-red-light;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
        width: 50%;
        margin: auto;
        position: absolute;
        top: 50%; left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        .letter {
            display: inline-block;
        }
        .spinner {
            height:30px;
            width:30px;
        }
    }
}
@media (max-width: 767px) {
    #disconnected {
        width:100%;
        left:0;

    }
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 0em 0em 0 0em;
    pre {
        font-size: 14px;
        margin-top: 0;
        -webkit-tab-size: 4;
           -moz-tab-size: 4;
            -o-tab-size:  4;
                tab-size: 4;
    }
}

@media (max-width: 867px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}